<body>
	<div class="text-center">
		<br><h1>Expense Details</h1><br><br>
	</div>

	<table class="table table-hover table-condensed table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Paid by</th>
				<th>Split between</th>
				<th><div class="text-right">Cost $</div></th>
				<th class="text-right">Modify Expenses</th>
			</tr>
		</thead>

		<tbody>
			<% i = 0 %>
			<% @expenses.each do |expense| %>
			<tr>
				<td><%= i += 1 %></td>
				<td><div class="blue-links"><%=	link_to expense.name, "/expenses/#{expense.id}" %></div></td>
				<% user = User.find(expense.user_id) %>s
				<td><div class="blue-links"><%= link_to user.name, user_path(user) %></div></td>
				<td><%= (expense.split_between.keep_if { |user| !user.blank? }).join(", ") %></td>
				<td class="text-right"><%= sprintf '%.2f', expense.cost %></td>
				<td class="text-right">
					<div id="modify-expense-links">
						<p>
							<%= link_to_if false, 'Edit', edit_expense_path(expense) %> | 
							<%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' } %>
						</p>
					</div>
				</td>
			</tr>
			<% end %> <!-- expenses.each -->
		</tbody>
	</table>
	<br>

	<div class="text-center fixed-single-button-size">
		<% if User.count > 0 %>
			<%= link_to 'Add an Expense', "/expenses/new", class: "btn btn-primary btn-block" %>
		<% else %>
			<%= link_to 'Add an Expense', "/expenses/new", class: "btn btn-primary btn-block disabled" %>
		<% end %>
	</div>

</body>

