
<body class="expense-body">
	<div class="text-center">
    <br><h1>Add Expense</h1><br>
  </div>

  <div class="expense-form">
		<%= bootstrap_form_for(@expense) do |f| %>
			<div class="jumbotron">
					<div class="expense-create-form">
				  <%= f.text_field :name, placeholder: 'Airbnb San Diego', required: true %>
				  <!-- <#%= f.text_area :description, placeholder: 'Optional' %> -->
				  <%= f.text_field :cost, label: "Cost $", placeholder: '99.99', required: true %>
				  <%= f.select :user_id, User.all.collect {|u| [ u.name, u.id ] }, label: "Paid by" %>
				  <div>
				   	<%= f.collection_check_boxes :split_with, User.all, :id, :name, label: 'Split With' %>
				  </div>
				</div>
			</div>

		  <div class="text-center">
		    <%= f.submit "Submit", class: "btn btn-primary" %>
		    <button type="submit" class="btn btn-danger">
		 			<%= link_to 'Cancel', "/expenses" %>
		 		</button>
		  </div>
		<% end %>
	</div>
</body>

